[Unit]
Description=starting brain.py
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/MasterCode/brain.py

[Install]
WantedBy=multi-user.target
